// SCREEN BREAKPOINTS

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// FONTS

@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("Demi.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir";

  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf")
    format("Regular.otf");
  font-weight: 400;
}
// COLORS

$bsb-primarytextcolor: #323232;
$silver-primarytextcolor: #afafaf;
$white-primarytextcolor: #ffffff;
$bsdb-secondarycolor: #000000;
$mercury-secondarycolor: #e1e1e1;
$alabaster-secondarycolor: #fafafa;
