@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("Regular.otf");
  font-weight: 400;
}
* {
  font-family: "Avenir";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

li {
  list-style-type: none;
}

.navigation {
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .navigation {
    flex-wrap: nowrap;
    justify-content: start;
  }
}
.navigation__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3em 0 0.8em;
}
.navigation__logo .logo__container {
  background-image: url("../assets/Logo/Logo-bandsite.svg");
  width: 7.5rem;
  height: 1.25rem;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    width: auto;
    margin: 0 1.5em 0 2.5em;
    padding: 1.5em 0;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__logo {
    margin-left: 9em;
  }
}
.navigation__item {
  width: 50%;
  text-align: center;
  padding-bottom: 0.6em;
  border-bottom: 4px solid transparent;
}
.navigation__item:active {
  border-color: #ffffff;
}
.navigation__item:hover {
  border-color: #ffffff;
}
.navigation__item .item__link {
  font-size: 0.9rem;
  text-decoration: none;
  color: #e1e1e1;
}
.navigation__item .item__link:active {
  color: #ffffff;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .navigation__item {
    width: auto;
    margin: 0 1.5em;
    padding: 1.5em 0;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__item {
    padding: 1.9em 0;
  }
}

.hero {
  background-image: url("../assets/Images/hero-shows.jpg");
  width: 100%;
  height: auto;
  padding: 2em 1em;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero {
    height: auto;
    padding: 4.4em 0 4.375em 2.5em;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 89vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 7em 0 9em;
  }
}
.hero__container {
  width: 100%;
  max-width: 250px;
  height: auto;
  text-align: start;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__container {
    max-width: 550px;
    margin: 0em 0 0.5em 0em;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    width: 46%;
    max-width: 500px;
    margin-top: 2em;
  }
}
.hero__text {
  color: #ffffff;
  margin-bottom: 1.3em;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__text {
    margin-bottom: 0.6em;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.hero__title {
  color: #ffffff;
  margin-bottom: 1em;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 0.8em;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
.hero__music {
  width: 100%;
  max-width: 300px;
  height: 110px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero__music {
    max-width: 420px;
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  .hero__music {
    width: 50%;
    max-width: auto;
    margin: auto 1.5em auto 0;
  }
}

.shows {
  padding: 1.5em 0em 1em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .shows {
    padding: 3em 1em 0;
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    max-width: 100%;
  }
}
.shows__title {
  padding: 0.3em 0.6em;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-right: 0.6em;
    margin-bottom: 1.2em;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    margin: 0 0 0.8em 3em;
  }
}
.shows__list {
  font-size: 0.75rem;
  text-align: center;
  margin: 1em 0;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .shows__list {
    display: flex;
    align-items: center;
    margin: 1.3em 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list {
    justify-content: space-between;
    width: 63.5%;
    margin-left: auto;
    margin-right: 9em;
  }
}
.shows__item {
  text-align: start;
  margin: 0.6em 1.3em 0.85em;
}
@media screen and (min-width: 768px) {
  .shows__item {
    width: 19%;
    margin-left: 1.9em;
  }
}
@media screen and (min-width: 1280px) {
  .shows__item--mod {
    width: 15%;
    margin: 0 3em 0 6em;
  }
}
.shows__detail {
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .shows__detail {
    font-size: 0.875rem;
    font-weight: 400;
    padding-bottom: 0.7em;
  }
}
@media screen and (min-width: 768px) {
  .shows__detail--mod {
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .shows__detail--right {
    margin-right: 1.5em;
  }
}
.shows__button {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0.6em 0em 1em 0em;
  padding: 0 7.2em;
  height: 2.5rem;
  border: none;
  border-radius: 4px;
  background-color: #323232;
  color: #ffffff;
  transition: 0.2s linear;
}
@media screen and (min-width: 768px) {
  .shows__button {
    font-size: 0.9rem;
    width: 9.375rem;
    padding: 0 1.3em;
    margin: 0em 1.3em 1.1em 2.1em;
  }
}
.shows__button:hover {
  background-color: #000000;
}
.shows__header {
  margin-bottom: 0.3em;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .shows__header {
    display: none;
  }
}
.shows__block {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__block {
    display: flex;
    justify-content: space-between;
    margin-left: 1.8em;
    width: 64.5%;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #afafaf;
  }
}
@media screen and (min-width: 1280px) {
  .shows__block {
    width: 45%;
    position: absolute;
    top: 5rem;
    right: 24.7%;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .shows__heading {
    width: 25%;
    font-size: 0.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .shows__heading--left {
    width: 15%;
    margin: 0 0em 0 0.2em;
  }
}
@media screen and (min-width: 1280px) {
  .shows__heading--right {
    margin-right: 1.9em;
  }
}

.f-block {
  background-color: #323232;
  color: #ffffff;
  padding: 1.5em 1em 0;
}
@media screen and (min-width: 768px) {
  .f-block {
    padding: 3em 2.25em 0;
    position: relative;
    margin-top: 2em;
  }
}
@media screen and (min-width: 768px) {
  .f-block .first-container {
    display: flex;
    align-items: center;
  }
}
.f-block .first-container__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .f-block .first-container__title {
    font-size: 2.25rem;
    line-height: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .f-block .first-container__title {
    margin-left: 3em;
  }
}
@media screen and (min-width: 768px) {
  .f-block .first-container__item {
    margin-left: 2em;
  }
}
.f-block .first-container__link {
  padding-right: 1.5em;
  margin: 1em 0;
}
.f-block .second-container {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .f-block .second-container {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
  }
}
@media screen and (min-width: 1280px) {
  .f-block .second-container {
    width: 60%;
    margin-left: 7.8em;
  }
}
.f-block .second-container__list {
  margin-bottom: 2em;
}
.f-block .second-container__item {
  margin-bottom: 1.2em;
}
.f-block .second-container .item__text {
  text-decoration: none;
  color: #ffffff;
}
.f-block .second-container .item__text--bold {
  font-weight: bold;
}
.f-block__logo {
  background-image: url("../assets/Logo/Logo-bandsite.svg");
  width: 7.5rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  margin: 5em 0 1.5em 0;
}
@media screen and (min-width: 768px) {
  .f-block__logo {
    position: absolute;
    top: 4em;
    right: 1.8em;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .f-block__logo {
    right: 8.6em;
  }
}
.f-block__text {
  padding-bottom: 1.5em;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .f-block__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 3em;
  }
}
@media screen and (min-width: 1280px) {
  .f-block__text {
    margin-left: 7.8em;
  }
}/*# sourceMappingURL=shows.css.map */