@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

* {
  font-family: "Avenir";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
}

li {
  list-style-type: none;
}
// -------------------NAV--------------------
.navigation {
  background-color: $bsb-primarytextcolor;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    flex-wrap: nowrap;
    justify-content: start;
  }

  &__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3em 0 0.8em;
    .logo__container {
      background-image: url("../assets/Logo/Logo-bandsite.svg");
      width: 7.5rem;
      height: 1.25rem;
      background-repeat: no-repeat;
    }
    @include tablet {
      width: auto;
      margin: 0 1.5em 0 2.5em;
      padding: 1.5em 0;
    }
    @include desktop {
      margin-left: 9em;
    }
  }
  &__item {
    width: 50%;
    text-align: center;
    padding-bottom: 0.6em;
    border-bottom: 4px solid transparent;
    &:active {
      border-color: $white-primarytextcolor;
    }
    &:hover {
      border-color: $white-primarytextcolor;
    }
    .item__link {
      font-size: 0.9rem;
      text-decoration: none;
      color: $mercury-secondarycolor;

      &:active {
        color: $white-primarytextcolor;
        font-weight: 700;
      }
    }
    @include tablet {
      width: auto;
      margin: 0 1.5em;
      padding: 1.5em 0;
    }
    @include desktop {
      padding: 1.9em 0;
    }
  }
}
// -------------------HERO--------------------
.hero {
  background-image: url("../assets/Images/hero-shows.jpg");
  width: 100%;
  height: auto;
  padding: 2em 1em;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bsb-primarytextcolor;
    opacity: 0.5;
    z-index: 1;
  }

  @include tablet {
    height: auto;
    padding: 4.4em 0 4.375em 2.5em;
  }

  @include desktop {
    height: 89vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 7em 0 9em;
  }

  &__container {
    width: 100%;
    max-width: 250px;
    height: auto;
    text-align: start;
    z-index: 2;

    @include tablet {
      max-width: 550px;
      margin: 0em 0 0.5em 0em;
    }
    @include desktop {
      width: 46%;
      max-width: 500px;
      margin-top: 2em;
    }
  }

  &__text {
    color: $white-primarytextcolor;
    margin-bottom: 1.3em;
    @include sub-header;
    @include tablet {
      margin-bottom: 0.6em;
      @include d-sub-header;
    }
  }
  &__title {
    color: $white-primarytextcolor;

    margin-bottom: 1em;
    @include header;

    @include tablet {
      margin-bottom: 0.8em;
      @include d-header;
    }
  }

  &__music {
    width: 100%;
    max-width: 300px;
    height: 110px;
    z-index: 1;
    @include tablet {
      max-width: 420px;
      height: auto;
    }
    @include desktop {
      width: 50%;
      max-width: auto;
      margin: auto 1.5em auto 0;
    }
  }
}
// -------------------SHOWS--------------------
.shows {
  padding: 1.5em 0em 1em;
  position: relative;
  @include tablet {
    padding: 3em 1em 0;
    max-width: 768px;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 100%;
  }

  &__title {
    padding: 0.3em 0.6em;
    @include header;

    @include tablet {
      @include d-section-header;
      padding-right: 0.6em;
      margin-bottom: 1.2em;
    }
    @include desktop {
      margin: 0 0 0.8em 3em;
    }
  }

  &__list {
    font-size: 0.75rem;
    text-align: center;
    margin: 1em 0;
    border-bottom: 1px solid $mercury-secondarycolor;

    @include tablet {
      display: flex;
      align-items: center;
      margin: 1.3em 0;
    }

    @include desktop {
      justify-content: space-between;
      width: 63.5%;
      margin-left: auto;
      margin-right: 9em;
    }
  }

  &__item {
    text-align: start;
    margin: 0.6em 1.3em 0.85em;

    @include tablet {
      width: 19%;
      margin-left: 1.9em;
    }

    &--mod {
      @include desktop {
        width: 15%;
        margin: 0 3em 0 6em;
      }
    }
  }

  &__detail {
    font-size: 0.8125rem;

    @include tablet {
      font-size: 0.875rem;
      font-weight: 400;
      padding-bottom: 0.7em;
    }

    &--mod {
      @include tablet {
        font-weight: 700;
      }
    }

    &--right {
      @include tablet {
        margin-right: 1.5em;
      }
    }
  }
  &__button {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0.6em 0em 1em 0em;
    padding: 0 7.2em;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: $bsb-primarytextcolor;
    color: $white-primarytextcolor;
    transition: 0.2s linear;

    @include tablet {
      font-size: 0.9rem;
      width: 9.375rem;
      padding: 0 1.3em;
      margin: 0em 1.3em 1.1em 2.1em;
    }

    &:hover {
      background-color: $bsdb-secondarycolor;
    }
  }

  &__header {
    margin-bottom: 0.3em;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: $silver-primarytextcolor;
    @include tablet {
      display: none;
    }
  }

  &__block {
    display: none;
    @include tablet {
      display: flex;
      justify-content: space-between;
      margin-left: 1.8em;
      width: 64.5%;
      @include body-footer;
      color: $silver-primarytextcolor;
    }
    @include desktop {
      width: 45%;
      position: absolute;
      top: 5rem;
      right: 24.7%;
      margin-left: auto;
    }
  }

  &__heading {
    @include tablet {
      width: 25%;
      font-size: 0.75rem;
      font-weight: 700;
    }
    &--left {
      @include desktop {
        width: 15%;
        margin: 0 0em 0 0.2em;
      }
    }

    &--right {
      @include desktop {
        margin-right: 1.9em;
      }
    }
  }
}
// -------------------FOOTER SECTION--------------------
.f-block {
  background-color: $bsb-primarytextcolor;
  color: $white-primarytextcolor;
  padding: 1.5em 1em 0;

  @include tablet {
    padding: 3em 2.25em 0;
    position: relative;
    margin-top: 2em;
  }

  .first-container {
    @include tablet {
      display: flex;
      align-items: center;
    }
    &__title {
      @include header;

      @include tablet {
        font-size: 2.25rem;
        line-height: 2.25rem;
        @include d-section-header;
      }
      @include desktop {
        margin-left: 3em;
      }
    }
    &__item {
      @include tablet {
        margin-left: 2em;
      }
    }
    &__link {
      padding-right: 1.5em;
      margin: 1em 0;
    }
  }
  .second-container {
    @include body-footer;
    @include tablet {
      @include d-footer;
      display: flex;
      justify-content: space-between;
      margin-top: 2.5em;
    }
    @include desktop {
      width: 60%;
      margin-left: 7.8em;
    }
    &__list {
      margin-bottom: 2em;
    }
    &__item {
      margin-bottom: 1.2em;
    }
    .item__text {
      text-decoration: none;
      color: $white-primarytextcolor;
      &--bold {
        font-weight: bold;
      }
    }
  }
  &__logo {
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    width: 7.5rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    margin: 5em 0 1.5em 0;
    @include tablet {
      position: absolute;
      top: 4em;
      right: 1.8em;
      margin: auto;
    }
    @include desktop {
      right: 8.6em;
    }
  }
  &__text {
    padding-bottom: 1.5em;
    @include body-footer;
    @include tablet {
      @include d-footer;
      padding-bottom: 3em;
    }
    @include desktop {
      margin-left: 7.8em;
    }
  }
}
